<div id = "map_save">
  <% if current_user %>	
    <form name="save" id="save" method="put" action="/maps/save">  
      <!--need this for auth -->
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" /> 
      <input type="hidden" name="map_user_id" value="<%= current_user.id %>" /> 
      <span class="beatmap awesome medium button">Enter Title</span><input type="text" name="map_title" /> <br />
		<span class="beatmap awesome medium button">Who Can Edit?</span><input type="radio" name="map_permission" value="0" /> Only Me
		<input type="radio" name="map_permission" value="2" /> Only My Friends
		<input type="radio" name="map_permission" value="1" /> Anyone
      <input type="hidden" name="map_query" value="<%= @mapfilter.query %>" /> 
      <input type="hidden" name="map_location" value="<%= @mapfilter.location %>" /> 
      <input type="hidden" name="map_category" value="<%= @mapfilter.category %>" /> 
      <input type="hidden" name="map_add" value="<%= @mapfilter.add_nodes %>" /> 
      <input type="hidden" name="map_exclude" value="<%= @mapfilter.exclude_nodes %>" /> 
      <input type="hidden" name="map_num_ratings_weight" value="<%= @mapfilter.num_ratings_weight %>" /> 
      <input type="hidden" name="map_avg_rating_weight" value="<%= @mapfilter.avg_rating_weight %>" />                   
      <input type="hidden" name="map_cheapness_weight" value="<%= @mapfilter.cheapness_weight %>" /> 
      <!--end -->
      <input type="submit", class="red awesome medium button", value="Save" />
    </form>
  <% end %>
</div>
