<% div_for(yelp_info_box, :class => 'result_info_box') do %>
  <%= link_to (yelp_info_box_counter + 1).to_s + ') ' + yelp_info_box['name'], yelp_info_box['url'], :class => 'beatmap awesome small button' %>

  
  <%= button_to_function "details", visual_effect(:toggle_slide, "box_details_#{yelp_info_box_counter}", :duration => 0.5 ), :class => 'red awesome small button' %>

  <div style="display:none" id = "box_details_<%=yelp_info_box_counter%>" >

    <%= image_tag(yelp_info_box['photo_url'].to_s) %>
    <ul>
      <li><b>Phone</b> :: <%= number_to_phone(yelp_info_box['phone']) %> </li>
      <li><b>Beatmap Rating</b> :: <%= yelp_info_box['beatmap_rating'] %> </li>
      <li><b># of Reviews</b> :: <%= yelp_info_box['review_count'] %> </li>
      <li><b>Overall Rating</b></li>
      <li><%= image_tag(yelp_info_box['rating_img_url'].to_s)%> :: <%= yelp_info_box['avg_rating']%> </li>
      <% direction_url = 'http://maps.google.com/maps?saddr=YOUR_ADDRESS&daddr=' + yelp_info_box['address1'] + ', ' + yelp_info_box['city'] + ', '+ yelp_info_box['state'] %>
      <% dest_address = yelp_info_box['address1'] + ', ' + yelp_info_box['city'] + ', '+ yelp_info_box['state'] %>
      <li>
      <% if false %>
        <%= button_to 'direction to', direction_url, :onclick => 'window.open('+direction_url+')', :return => false %>
      <% end %>
      <% if false %>
        <%= button_to_function 'direction to', "if (document.getElementById('input_address').value != 'YOUR ADDRESS') openGoogleDirections('#{dest_address}')", :class => 'awesome small button' %>
      <% end %>
      <%= button_to_function 'directions to', "openGoogleDirections('#{dest_address}')", :class => 'awesome small button' %>

<% unless (@map.nil? || @map.permission.nil? || @map.user_id.nil?) %>
<% if (@map.permission == 1)  || (@map.user_id == current_user.id) || ((@map.permission == 2) && (Friendship.already_friends?(User.find(@map.user_id), current_user)))%>
	<form name="exclude" id="exclude" method="post" action="/maps/exclude">    <!--need this for auth -->
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" /> 
		<input type="hidden" name="map_user_id" value="<%= current_user.id %>" /> 
		<input type="hidden" name="map_id" value="<%= @map.id %>" /> 
		<input type="hidden" name="exclude" value="<%= yelp_info_box['name']%>"/> 
		<input type="submit", class="red awesome small button", value="Remove This Venue" />
	</form>
	<% end%>
	<% end%>
      </li> 
    </ul>
    </div>

  <% end %>

