
<html>
  <head>
    <title>Beatmap search function</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <%= GMap.header(:with_vml => false, :host => request.host) %>
    <% if @displaymap != nil %>
      <%= @displaymap.to_html %>
    <% end %>
  </head>

  <body>
<div id="map_page_content">     
	<h2>
    Creator:
    <span class="red awesome medium button"><font color="black"><%= link_to @map_owner.username, profile_of(@map_owner)%></font></span>
    </h2>

<div id= "map_title">
    <h2>
    Title:
<span class="beatmap awesome medium button"><%=h @map.title %></span>
    </h2>
</div>

<div id = "map_save_favorite">
      <% if current_user %>	
        <form name="save_favorite" id="save_favorite" method="put" action="/maps/save_favorite">  
          <!--need this for auth -->
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" /> 
          <input type="hidden" name="user_id" value="<%= current_user.id %>" />
          <input type="hidden" name="map_id" value="<%= params[:id]%>" />

          <input type="submit", class="red awesome medium button", value="Add To Favorites" />
        </form>
      <% end %>
    </div>

    <%= GMap.header(:with_vml => false, :host => request.host) %>
    <%= @displaymap.to_html %>
    
    <div id= "map_info">


      <div id="display_map">
        <%= @displaymap.div(:width => 700, :height => 500) %>
      </div>
      <div id="restaurant_list">
	
        <% if @business_list != nil %>
          <!--><h2> Restaurants: </h2> -->
		Restaurants: <br/>
		<% unless current_user.nil? %>
  			<%= render :partial => 'edit_map_permission'%>
        <% end%>
          <%= render :partial => 'yelp_info_box', :collection => @business_list %>

        <% end %>
        <% if @events_list != nil %>
          <!--><h2> Events : </h2> -->
		Events : <br/>
          <%= render :partial => 'eventful_info_box', :collection => @events_list %>
        <% end %>



      </div>
    </div>
    
	<div style="float:left; clear:both;">
    	<img src="/images/legend.png" />
    </div>
        
    <div id="social_box">      
      <h4>Overall Rating: <%= ratings_for @map %></h4>
      <%#= ratings_for @map, :dimension => :price %>
      <h4>Average Rating: <%= @map.rating_average %></h4>

      <% like_url = "http://www.facebook.com/widgets/like.php?href=beatmap.heroku.com/maps/" + @map.id.to_s %>

      <iframe src=<%=like_url%> scrolling="no" frameborder="0"
        style="border:none; width:350px; height:80px"></iframe>
    </div>    
    
    <br/><br/>
      <%= render :partial => 'website/footer' %>   
  	</div> <!-- end of map page content -->      
  </body>
</html>

