<html>
	<head>
		<title>Beatmap</title>
		<link rel="stylesheet" type="text/css" href="/style.css" />
	</head>

	<body>
		<div id="map_page_content">    
		<div id="profile_main_top">
		<h1>
			<%= @title %>
		</h1>
		<br />
		<b>Name:</b> <%= @info.name%>
		<br/>
		<b>Location:</b> <%= @info.location%>
		<br/>
		<b>Tagline:</b> <%= @info.bio%>
		<br/>
		<b>Public Profile:</b> <%= link_to profile_of(@user), profile_of(@user)%>
		<br/><br/>
		
		<% if (!current_user.nil?) and (current_user.username == ADMIN_ACCOUNT) %>
		<%= render :partial => 'deals/deal_management'%>
		<% end %>
	</div> <!-- end of profile_main_top -->
	

	  <%= render :partial => 'website/footer' %>			
  </div> <!--end of map_page_content-->
	</body>
</html>

