<img src="/images/chat.png"/> 
<br/>
<%= current_user.friends.count %> friends
<br/>
<%= current_user.friends_requested.count %> requested friends
<br/>
<%= current_user.friends_pending.count %> pending friends
<br/><br/>

<label class="beatmap awesome medium button"><font color="black"><%=current_user.username%>'s Friends</font> </label>  
<br/>

<% current_user.friends.each do |friend| %>
	<label class="red awesome medium button"><font color="black"><%= link_to friend.username, profile_of(friend)%></font> </label> 
	<label class="blue awesome medium button"><font color="black">		
	<%= link_to "Remove",
	:controller => "friendship",
	:action => "remove_existing_friend", 
	:id => friend.username %>
	</font> </label> 
	<br/>	
<% end %>

<br/><br/>
<label class="beatmap awesome medium button"><font color="black"><%=current_user.username%>'s Requested Friends</font> </label> 
<br/>
<% current_user.friends_requested.each do |friend| %>
	<label class="red awesome medium button"><font color="black"><%= link_to friend.username, profile_of(friend)%></font> </label>
	
	<label class="blue awesome medium button"><font color="black">	
	<%= link_to "Accept",
		:controller => "friendship",
		:action => "accept_friend", 
		:id => friend.username %>
	</font> </label> 

	<label class="blue awesome medium button"><font color="black">		
	<%= link_to "Decline",
		:controller => "friendship",
		:action => "decline_friend", 
		:id => friend.username %>
	</font> </label> 		
	<br/>
<% end %>

<br/><br/>
<label class="beatmap awesome medium button"><font color="black"><%=current_user.username%>'s Pending Friends</font> </label> 
<br/>
<% current_user.friends_pending.each do |friend| %>
	<label class="red awesome medium button"><font color="black">	
	<%= link_to friend.username, profile_of(friend)%>
	</font> </label> 
	<label class="blue awesome medium button"><font color="black">	
	<%= link_to "Cancel",
		:controller => "friendship",
		:action => "cancel_friend", 
		:id => friend.username %>
	</font> </label> 		
	<br/>	
<% end %>



