<img src="/images/chat.png"/> 
<br/>
	<% unless current_user.nil?%>
		<% if current_user != @user %>
		<%= friendship_state(current_user, @user)%>
		<% end %>
		<% unless Friendship.already_friends?(current_user, @user) || (current_user == @user) %>	
		<label class="blue awesome medium button"><font color="black">	    
		<%= link_to "Add #{@user.username} as a friend",
			{ :controller => "friendship", :action => "create",
			:id => @user.username },
			:confirm => "Confirm adding #{@info.name} as a friend" %>
		</font></label>
		<% end %>
		<br/><br/>	
	<% end %>	
<%= @user.friends.count %> friends
<br/>
<%= @user.friends_requested.count %> requested friends
<br/>
<%= @user.friends_pending.count %> pending friends
<br/><br/>

<label class="beatmap awesome medium button"><font color="black"><%=@user.username%>'s Friends</font> </label>  
<br/>
<% @user.friends.each do |friend| %>
	<label class="red awesome medium button"><font color="black"><%= link_to friend.username, profile_of(friend)%></font> </label> 
	<br/>	
<% end %>