<script type="text/javascript"><!--
google_ad_client = "ca-pub-2997897620024642";
/* Deals Main */
google_ad_slot = "6106647356";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br/>
<div class="hr"></div>
<br/>

<% deals.map do |element| %>
	<% unless element.nil? %>

	<% if element.stashflip_status == 'stash'%>
	<div style="clear:both; float:left;">
	<img src="/images/stash.png" width="40px;" height="40px;"></img>
	</div>
	<% end %>
	<% if element.stashflip_status == 'flip'%>
	<div style="clear:both; float:left;">
	<img src="/images/flip.png" width="40px;" height="40px;"></img>
	</div>
	<% end %>
		
	<b><%= element.name%></b>
	<br/>
	<%= element.publish_date.strftime("%m/%d/%Y") %>
	<br/><br/>
	

	<div style = "width:820px;">
	<div style = "width:660px; clear:both; float:left;">
	<%= element.description %>
	</div>
	
	<div style = "margin-left: 20px; float:left;">
	<% if element.photo.file?%>
	<%= image_tag element.photo.url %>
	<% end %>
	</div>
	</div>
	
	<div style = "clear:both;">
	<br/>		
	<b>Price:</b> <%=number_to_currency(element.cost, :unit => "$") %>
	<br/>
	<b>Profit Margin:</b> <label class="yellow awesome medium button"><font color="black">+<%= number_to_currency(element.profit_margin, :unit => "$") %></font></label> 
	<br/><br/>
	<b>Buy:</b> <label class="orange awesome medium button"><font color="black"><%= link_to "BUY", element.buy_link, :class => 'actionbutton'
%></font> </label>
	<br/><br/>
	<b>Sell:</b> <label class="orange awesome medium button"><font color="black"><%= link_to "EBAY", "http://sell.ebay.com/sell", :class => 'actionbutton'
%></font> </label> 
	<label class="orange awesome medium button"><font color="black"><a href="http://www.amazon.com/gp/redirect.html?ie=UTF8&location=http%3A%2F%2Fwww.amazon.com%2Fgp%2Fseller%2Fsell-your-stuff.html&tag=stashflip-20&linkCode=ur2&camp=1789&creative=390957" class='actionbutton'>AMAZON</a><img src="https://www.assoc-amazon.com/e/ir?t=stashflip-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></font></label>
	<label class="orange awesome medium button"><font color="black"><%= link_to "CRAIGSLIST", "http://sfbay.craigslist.org/", :class => 'actionbutton'%></font> </label> 
	</div>
	
	<br/>
	<b>Discuss:</b> <label class="orange awesome medium button"><font color="black"><%= link_to 'DISCUSS', element, :class => 'actionbutton'%></font></label>
		
	<br/>
	<div class="hr"></div>
	<br/>
	<% end %>
<% end %>

    <div class="stashflip_pagination">
      <div class="page_info">
        <%= page_entries_info deals %>
      </div>
      <%= will_paginate deals, :container => false, :params => {:anchor => "externaldeals" } %>
    </div>

