<% Deal.find(:all).map do |element| %>
	<% unless element.nil? %>
	
	Source: <label class="blue awesome medium button"><font color="black"><%= element.source.humanize %></font></label> 
	<br/>
	<b>Title:</b> <%= element.name%>
	<br/>
	<b>Description:</b> <%= element.description %>
	<br/>
	<b>Price:</b> <%= element.cost %>
	<br/>
	<b>Retail Price:</b> <%= element.cost_retail %>
	<br/>
	<b>Profit Margin:</b> <label class="green awesome medium button"><font color="black">+$<%= element.profit_margin %></font></label> 
	<br/><br/><br/>
	<% end %>
	<br/>
<% end %>