<% Deal.find(:all).map do |element| %>
	<% unless element.nil? %>
	
	Source: <label class="blue awesome medium button"><font color="black"><%= element.source.humanize %></font> </label> 
	<br/>
	Title: <%= element.name%>
	<br/>
	Description: <%= element.description %>
	<br/>
	Price: <%= element.cost %>
	<br/>
	guid: <%= element.guid %>	
	<br/><br/><br/>
	<% end %>
	<br/>
<% end %>