<head>
	<title>Stashflip - Deal Database</title>
</head>

<div id="maincontent">
<h1>Deal Database</h1>

<div class="stashflip_pagination">
  <div class="page_info">
    <%= page_entries_info @deals %>
  </div>
  <%= will_paginate @deals, :container => false %>
</div>

<table>
  <tr>
  	<td><b>DATE</b></td>
  	<td><b>NAME</b></td>
  	<td><b>SOURCE</b></td>
  	<td><b>BUY_LINK</b></td>
  	<td><b>STATUS</b></td>  	
	<td><b>PERMADEAL</b></td>  	
  	<td><b>COST</b></td>
  	<td><b>COST_RETAIL</b></td>
  	<td><b>PROFIT_MARGIN</b></td>  	
  </tr>

<% @deals.each do |deal| %>
  <tr>
  	<td><%= deal.publish_date %></td>
  	<td><%= deal.name %></td>
  	<td><%= deal.source %></td>	
  	<td><%= deal.buy_link %></td>
  	<td><%= deal.stashflip_status %></td>
	<td><%= deal.permadeal %></td>  	    	
  	<td><%= number_to_currency(deal.cost, :unit => "$") %></td>
  	<td><%= number_to_currency(deal.cost_retail, :unit => "$") %></td>
  	<td><label class="yellow awesome medium button"><font color="black"><%= number_to_currency(deal.profit_margin, :unit => "$") %></font></label></td>
    <td><%= link_to 'Show', deal %></td>
    <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
    <td><%= link_to 'Destroy', deal, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
    
<h3>Mark as Stash</h3>
<% form_tag mark_stash_deals_path, :method => :put do %>
<ul>
<% for deal in @deals %>
	<li>
		<%= check_box_tag "deal_ids[]", deal.id %>
		<%= deal.name %>
	</li>
	<%end %>
</ul>
<%= submit_tag "Mark as Stash"%>
<% end %>

<h3>Mark as Flip</h3>
<% form_tag mark_flip_deals_path, :method => :put do %>
<ul>
<% for deal in @deals %>
	<li>
		<%= check_box_tag "deal_ids[]", deal.id %>
		<%= deal.name %>
	</li>
	<%end %>
</ul>
<%= submit_tag "Mark as Flip"%>
<% end %>

<h3>Remove stashflip_status</h3>
<% form_tag mark_none_deals_path, :method => :put do %>
<ul>
<% for deal in @deals %>
	<li>
		<%= check_box_tag "deal_ids[]", deal.id %>
		<%= deal.name %>
	</li>
	<%end %>
</ul>
<%= submit_tag "Remove stashflip_status"%>
<% end %>

<h3>Mark as Permadeal</h3>
<% form_tag mark_permadeal_deals_path, :method => :put do %>
<ul>
<% for deal in @deals %>
	<li>
		<%= check_box_tag "deal_ids[]", deal.id %>
		<%= deal.name %>
	</li>
	<%end %>
</ul>
<%= submit_tag "Mark as Permadeal"%>
<% end %>

<h3>Remove Permadeal</h3>
<% form_tag mark_permadeal_remove_deals_path, :method => :put do %>
<ul>
<% for deal in @deals %>
	<li>
		<%= check_box_tag "deal_ids[]", deal.id %>
		<%= deal.name %>
	</li>
	<%end %>
</ul>
<%= submit_tag "Remove Permadeal"%>
<% end %>

</div>