<div id="maincontent">
<h1>Post New Deal</h1>

<% form_for @deal, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %> 
  <p>
    <%= f.label :name %> (Title of the deal)<br />
    <%= f.text_field :name %>
  </p>
  <p>
  	<%= f.label :publish_date %><br />
  	<%= datetime_select 'deal', 'publish_date' %>
  </p>
  <p> 
    <%= f.label :description %> (Use HTML for new lines i.e. br/ tags) <br />
    <%= f.text_area :description %>
  </p> 
  <p>
    <%= f.label :source %> (i.e. stashflip) <br />
    <%= select :deal,:source, {"Stashflip" => "stashflip", "Passwird" => "passwird", "Black Friday Ads" => "bfads", "Fatwallet" => "fatwallet"} %>
  </p>
  <p>
    <%= f.label :stashflip_status %> (i.e. none, stash, flip) <br />
    <%= select :deal,:stashflip_status, {"None" => "none", "Stash" => "stash", "Flip" => "flip"} %>
  </p>       
  <p>
    <%= f.label :buy_link %> (Insert affiliate link here.)<br />
    <%= f.text_field :buy_link %>
  </p>
  <p>
    <%= f.label :guid %> (Type in something unique here i.e. 1, 2, 3.) <br />
    <%= f.text_field :guid %>
  </p>   
  <p>
    <%= f.label :cost %> (Sale price)<br />
    <%= f.text_field :cost %>
  </p>  
  <p>
    <%= f.label :cost_retail %> (Retail price) <br />
    <%= f.text_field :cost_retail %>
  </p>  
  <p>
    <%= f.label :profit_margin %> (Estimate how much profit you can make.) <br />
    <%= f.text_field :profit_margin %>
  </p> 
  <p>
    <%= f.label :photo %> (Does not automatically resize. Upload an image 50x50 up to 140x140.) <br />
    <%= f.file_field :photo %>
  </p>     
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', deals_path %>
</div>