<div id="maincontent">

<table>
  <tr>
  	<td><b>DATE</b></td>
  	<td><b>NAME</b></td>
  	<td><b>SOURCE</b></td>
  	<td><b>BUY_LINK</b></td>
  	<td><b>STATUS</b></td>  	
  	<td><b>PERMADEAL</b></td>
  	<td><b>COST</b></td>
  	<td><b>COST_RETAIL</b></td>
  	<td><b>PROFIT_MARGIN</b></td>  	  	
  	<td><b>DESCRIPTION</b></td>
  </tr>

  <tr>
  	<td><%= @deal.publish_date %></td>
  	<td><%= @deal.name %></td>
  	<td><%= @deal.source %></td>	
  	<td><%= @deal.buy_link %></td>
  	<td><%= @deal.stashflip_status %></td>    	
  	<td><%= @deal.permadeal %></td>
   	<td><%= number_to_currency(@deal.cost, :unit => "$") %></td>
  	<td><%= number_to_currency(@deal.cost_retail, :unit => "$") %></td>
  	<td><label class="yellow awesome medium button"><font color="black"><%= number_to_currency(@deal.profit_margin, :unit => "$") %></font></label></td>
  	<td><%= @deal.description %></td>
    <td><%= link_to 'Show', @deal %></td>
    <td><%= link_to 'Edit', edit_deal_path(@deal) %></td>
    <td><%= link_to 'Destroy', @deal, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
</table>
</div>