    <div id="top_bar">
      <div id="topinfoblock">
        <a href="/"><div id="logo"></div><!--end logo--></a>
        
        <div id="ad_navbar_top">
			<% if current_user %>
				<%= link_to "Home", root_path, :class => 'nav' %> |
				<%= link_to 'Post Deal', new_deal_path, :class => 'nav' %> |
				<%= link_to 'Manage Deals', deals_path, :class => 'nav' %> |
				<%= link_to "About", "/website/about", :class => 'nav' %> |
				<%= link_to "Submit Deal", "http://stashflip.tumblr.com/submit", :class => 'nav' %> |		    
				<%= link_to "Logout", logout_path, :class => 'nav' %>
			<% else %>
				<%= link_to "Home", root_path, :class => 'nav'%> |
				<%= link_to "About", "/website/about", :class => 'nav'%> |
				<%= link_to "Submit Deal", "http://stashflip.tumblr.com/submit", :class => 'nav' %>	
			<% end %>
        </div>


		<div id="ad_navbar">
			<label class="orange awesome large button"> 
				<a href="/" class="actionbutton">ALL</a>
			</label>

			<label class="orange awesome large button"> 
				<a href="/website/videogamesindex" class="actionbutton">VIDEO GAMES</a>
			</label>
						
			<label class="orange awesome large button"> 
				<a href="/website/laptopindex" class="actionbutton">LAPTOPS</a>
			</label>
			
			<label class="orange awesome large button"> 
				<a href="/website/hdtvindex" class="actionbutton">HDTV / MONITORS</a>
			</label>											
		</div>


      </div> <!--end topinfoblock-->
    </div> <!--end topblue-->