<html>

<head>
	<title>Stashflip - Best Electronics Deals for Resellers</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>		
		
	<div id="search_bar">
		<%= render :partial => 'searchbar' %>		 
	</div>
	
	<div id="maincontent">		 
			<div id="main_top">

<script type="text/javascript"><!--
amazon_ad_tag = "stashflip-20"; amazon_ad_width = "728"; amazon_ad_height = "90"; amazon_ad_logo = "hide"; amazon_ad_link_target = "new";//--></script>
<script type="text/javascript" src="http://www.assoc-amazon.com/s/ads.js"></script>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-2997897620024642";
/* Deals Main */
google_ad_slot = "6106647356";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br/>		
				
				<a name="internaldeals"></a> 
				<%= render :partial => '/deals/latest_sponsored', :locals => {:deals => Deal.find(:all, :order => 'publish_date DESC', :conditions => ['source = ? and category = ?', 'stashflip', 'hdtv'])} %>
				<a name="externaldeals"></a>
				<%= render :partial => '/deals/latest_passwird', :locals =>{:deals => @deals}  %>	
							
			</div> 
			
			<div id="main_right">
				<%= render :partial => '/deals/adroll', :locals => {:ad_type => "hdtv"} %>
			</div>     	        	  	

		<%= render :partial => 'website/statcounter' %>
		<%= render :partial => 'website/footer' %>

	</div><!--end maincontent-->
	
</body>

