<html>

<head>
	<title>Stashflip - Best Electronics Deals for Resellers</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>		
		
	<div id="search_bar">
		<%= render :partial => 'searchbar' %>		 
	</div>
	
	<div id="maincontent">		 
			<div id="main_top">

<iframe src="http://rcm.amazon.com/e/cm?t=stashflip-20&o=1&p=48&l=bn1&mode=electronics&browse=1266092011&fc1=000000&lt1=_blank&lc1=3366FF&bg1=FFFFFF&f=ifr" marginwidth="0" marginheight="0" width="728" height="90" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
<br/>		
				
				<a name="internaldeals"></a> 
				<%= render :partial => '/deals/latest_sponsored', :locals => {:deals => Deal.find(:all, :order => 'publish_date DESC', :conditions => ['source = ? and category = ?', 'stashflip', 'hdtv'])} %>
				<a name="externaldeals"></a>
				<%= render :partial => '/deals/latest_passwird', :locals =>{:deals => @deals}  %>	
							
			</div> 
			
			<div id="main_right">
				<%= render :partial => '/deals/adroll', :locals => {:ad_type => "hdtv"} %>
			</div>     	        	  	

		<%= render :partial => 'website/statcounter' %>
		<%= render :partial => 'website/footer' %>

	</div><!--end maincontent-->
	
</body>

