<html>

<head>
	<title>Stashflip - Best Electronics Deals for Resellers</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>		
	<% if (!current_user.nil?) and (current_user.username == ADMIN_ACCOUNT) %>
	<div style="clear:both; float:left;">
	    	  	<form name="post_deal" id="post_deal" class="post_deal" method="post" action="/deals/post_deal">  
			<!--need this for auth -->
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" /> 
		 <%= submit_tag("Refresh Deals (RSS)", :id => "post_deal", :title => "post_deal", :name => "post_deal", :class => "red awesome small button")%> 
		</div>
	<% end %>
		
	<div id="search_bar">
		<%= render :partial => 'searchbar' %>		 
	</div>
	
	<div id="maincontent">		 
			<div id="main_top">

<a href="http://www.anrdoezrs.net/click-4248767-10802644" target="_top">
<img src="http://www.tqlkg.com/image-4248767-10802644" width="728" height="90" alt="Get a SquareTrade Warranty" border="0"/></a>
<br/>		
				
				<a name="internaldeals"></a> 
				<%= render :partial => '/deals/latest_stash', :locals =>{:deals => @deals}  %>				
			</div> 
			
			<div id="main_right">
				<%= render :partial => '/deals/adroll' %>
			</div>     	        	  	

		<%= render :partial => 'website/statcounter' %>
		<%= render :partial => 'website/footer' %>

	</div><!--end maincontent-->
	
</body>

