<html>

<head>
	<title>Stashflip - Best Electronics Deals for Resellers</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>		
	<% if (!current_user.nil?) and (current_user.username == ADMIN_ACCOUNT) %>
	<div style="clear:both; float:left;">
	    	  	<form name="post_deal" id="post_deal" class="post_deal" method="post" action="/deals/post_deal">  
			<!--need this for auth -->
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" /> 
		 <%= submit_tag("Refresh Deals (RSS)", :id => "post_deal", :title => "post_deal", :name => "post_deal", :class => "red awesome small button")%> 
		</div>
	<% end %>
		
	<div id="search_bar">
		<%= render :partial => 'searchbar' %>		 
	</div>
	
	<div id="maincontent">		 
			<div id="main_top">
				
<!--chitika-->				
<script type="text/javascript">
ch_client = "stashflip";
ch_width = 550;
ch_height = 250;
ch_type = "mpu";
ch_sid = "Chitika Default";
ch_color_site_link = "#000000";
ch_color_title = "#000000";
ch_color_border = "#FFFFFF";
ch_color_text = "#000000";
ch_color_bg = "#FFFFFF";
</script>
<script src="http://scripts.chitika.net/eminimalls/amm.js" type="text/javascript">
</script><br/>
<!--chitika-->
				
				<a name="internaldeals"></a> 
				<%= render :partial => '/deals/latest_stash', :locals =>{:deals => @deals} %>				
			</div> 
			
			<div id="main_right">
				<%= render :partial => '/deals/adroll' %>
			</div>     	        	  	

		<%= render :partial => 'website/statcounter' %>
		<%= render :partial => 'website/footer' %>

	</div><!--end maincontent-->

<!-- infolinks -->	
<script type="text/javascript">
    var infolink_pid = 184247;
    var infolink_wsid = 0;
</script>
<script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>	
<!-- infolinks -->	
	
</body>

