<html>

<head>
	<title>Stashflip - Best Electronics Deals for Resellers</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>		
	<% if (!current_user.nil?) and (current_user.username == ADMIN_ACCOUNT) %>
	<div style="clear:both; float:left;">
	    	  	<form name="post_deal" id="post_deal" class="post_deal" method="post" action="/deals/post_deal">  
			<!--need this for auth -->
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" /> 
		 <%= submit_tag("Refresh Deals (RSS)", :id => "post_deal", :title => "post_deal", :name => "post_deal", :class => "red awesome small button")%> 
		</div>
	<% end %>
		
	<div id="search_bar">
		<%= render :partial => 'searchbar' %>		 
	</div>

	<div id="maincontent">	
			<div id="main_top">
<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab" id="Player_3beb30f8-90f4-4dd8-ad17-56e73e65a8dd"  WIDTH="468px" HEIGHT="60px"> <PARAM NAME="movie" VALUE="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fstashflip-20%2F8009%2F3beb30f8-90f4-4dd8-ad17-56e73e65a8dd&Operation=GetDisplayTemplate"><PARAM NAME="quality" VALUE="high"><PARAM NAME="bgcolor" VALUE="#FFFFFF"><PARAM NAME="allowscriptaccess" VALUE="always"><embed src="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fstashflip-20%2F8009%2F3beb30f8-90f4-4dd8-ad17-56e73e65a8dd&Operation=GetDisplayTemplate" id="Player_3beb30f8-90f4-4dd8-ad17-56e73e65a8dd" quality="high" bgcolor="#ffffff" name="Player_3beb30f8-90f4-4dd8-ad17-56e73e65a8dd" allowscriptaccess="always"  type="application/x-shockwave-flash" align="middle" height="60px" width="468px"></embed></OBJECT> <NOSCRIPT><A HREF="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fstashflip-20%2F8009%2F3beb30f8-90f4-4dd8-ad17-56e73e65a8dd&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
<br/>			
				
				<a name="internaldeals"></a> 
				<%= render :partial => '/deals/latest_stash', :locals =>{:deals => @deals}  %>				
			</div> 
			
			<div id="main_right">
				<%= render :partial => '/deals/adroll' %>
			</div>     	        	  	

		<%= render :partial => 'website/statcounter' %>
		<%= render :partial => 'website/footer' %>

	</div><!--end maincontent-->
	
</body>

