<h1>Editing filter</h1>

<% form_for(@filter) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :map_id %><br />
    <%= f.text_field :map_id %>
  </p>
  <p>
    <%= f.label :query %><br />
    <%= f.text_field :query %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @filter %> |
<%= link_to 'Back', filters_path %>