<!DOCTYPE html> 
<html>
<head> 
	<%= stylesheet_link_tag :all %> <%= javascript_include_tag :defaults %>
	<link rel="stylesheet" type="text/css" href="/style.css" />
	<link rel="shortcut icon" href="/images/favicon.ico" >
</head> 
	<body> 
		
	<div id="user_nav">
	  <% if current_user %>
	  	<%= link_to "Home", root_path %> |
	  	<%= link_to 'Post Deal', new_deal_path %> |
	  	<%= link_to 'Manage Deals', deals_path %> |
	  	<%= link_to "#{current_user.username}'s Profile", users_url %> |
	    <%= link_to "Edit Profile", editprofile_url %> |
	    <%= link_to "About", "/website/about" %> |
	    <%= link_to "Submit Deal", "/website/forum" %> |		    
	    <%= link_to "Logout", logout_path %>
	    
	    <div style="float:right;">
	    <img src="/images/stash.png" width="20px;" height="20px;"></img> <%= link_to "Stash", "/website/stashindex" %> |
	    <img src="/images/flip.png" width="20px;" height="20px;"></img> <%= link_to "Flip", "/website/flipindex" %>
	    </div>
	    
	    <div style="float:right;">
	    	    	    	<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.stashflip.com&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:35px;" allowTransparency="true"></iframe>     
		</div>
			    
	  <% else %>
	    <%= link_to "Home", root_path %> |
	    <%= link_to "About", "/website/about" %> |
	    <%= link_to "Submit Deal", "/website/forum" %>	
		
	    <div style="float:right;">	    	
	    <img src="/images/stash.png" width="20px;" height="20px;"></img> <%= link_to "Stash", "/website/stashindex" %> |
	    <img src="/images/flip.png" width="20px;" height="20px;"></img> <%= link_to "Flip", "/website/flipindex" %>
	    </div>
	    
	    <div style="float:right;">
	    	    	    	<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.stashflip.com&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:35px;" allowTransparency="true"></iframe>     
		</div>
			    
	  <% end %>
    </div>
        
	<p style="color: green"><%= notice %></p>
	
    <%= yield %>
      
	</body> 
</html>
